body {
    background-color: #fafafa;
    font-style: italic;
    background-size: 100px px;
    background-repeat: 100;
}
    h1 {
    background-image: url(/images/project-3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
}
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    padding: 15px;
    display: flex; /* use the flexbox to align links */
    justify-content: center; /* Center align links */
    gap: 50px; /* space out the links */
    text-align: center;
    z-index: 1000;
}
/* style navbar links */
.navbar {
    color: white;
    text-decoration: none;
    font-size: 18px;
}
/* style for each section */
section {
    padding: 120px 20px;
    margin-top: 80px; /* Space from navbar */
    margin-bottom: 80px;/* Space between sections */
}
h2 {
    text-align: center;
}
img {
    width: 25%;
    height: auto; 
}
header :hover {
    color: #333;
    font: serif; 
    width: 100%;
    height: 100%;
    text-align: center;
}
.intro-section {
    background-color: #e0f7fa;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.intro-section h2 {
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 15px;
    font-size: 18px;
    color: #00796b;
}
.intro-section p, h3, ul {
    font-size:medium;
    color:#00796b;
}